:root {
  --c-navy: #2d3c59;
  --c-sage: #94a378;
  --c-orange: #e5ba41;
  --c-brown: #d1855c;
  --c-white: #dfdfdf;
  --c-fail: #b94a3f;
  --c-success: #5f7a4a;
  --c-info: #4a638a;
  --p-container: 16px;
  --ff-base: "Roboto Condensed", sans-serif;
  --ff-logo: "Protest Strike", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 1.5;
  background-color: var(--c-sage);
}

a {
  color: var(--c-brown);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
